<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="License.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <License.Properties.Settings>
            <setting name="Domain" serializeAs="String">
                <value>http://www.mydomain.com</value>
            </setting>
            <setting name="secretKeyVerification" serializeAs="String">
                <value>5b06a6205a97f1.60209273</value>
            </setting>
            <setting name="secretKeyCreation" serializeAs="String">
                <value>5b06a6205a96f4.88239186</value>
            </setting>
        </License.Properties.Settings>
    </userSettings>
</configuration>